@option compress:yes

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* MY TURN */

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(../fonts/advent_pro_400.woff) format('woff');

}

body {
    background: #475068;
}

#photos {
    text-align: center;

    .photo-container {
	display: inline-block;
	margin: 4px;
    }
}

#action-area-container {
    display: table;
    table-layout: fixed;
    width: 100%;

    .button-container {
	display: table-cell;
	padding: 7px;

	div.action-button {
	    background-color: #ddd;
	    margin: 0px;
	    &:hover {background-color: #eee;}
	    &:active {background-color: #ccc;}

	    span {
		color: #2b2b2b;
		display: block;
		text-align: center;
		padding: 25px 0;
		font-size: 35px;
		font-family: 'Advent Pro', sans-serif
	    }
	}
    }
}



