<!doctype html>
<html>
  <head>
    <title>well, shit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/remote.js') }}"></script>
  </head>

  <body>
    <div id="action-area-container">

      {% for framenum_value in framenum_values %}
      <div class="button-container">
	<div class="action-button" name="framenum" value="{{ framenum_value }}">
	  <span>{{ framenum_value }}</span>
	</div>
      </div>
	{% endfor %}
    </div>

    <div id="photos">

      {% for thumbnail, original in thumbnail_original_pairs %}
      <div class="photo-container">
	<a href="{{ url_for('static', filename=original) }}"><img src="{{ url_for('static', filename=thumbnail) }}"/></a>
      </div>
      {% endfor %}
    </div>

<!--
      <div class="action-area">
	<form method="POST", action="/take_pics", id="snapshot-form">
	</form>
      </div>
 -->
  </body>
</html>
