<!doctype html>
<html>
  <head>
    <title>well, shit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/remote.js') }}"></script>
  </head>

  <body>

    <div id="message-container">
      <div id="message-area">
	TAKE A PICTURE
      </div>
    </div>

    <div id="action-area">

      {% for framenum_value in framenum_values %}
      <div class="button-container">
	<div class="action-button" name="framenum" value="{{ framenum_value }}">
	  <span>{{ framenum_value }}</span>
	</div>
      </div>
	{% endfor %}
    </div>

    <div id="photos">
      {% import "photo_container.html" as photo_container %}
      {% for thumbnail, original in thumbnail_original_pairs %}
        {{ photo_container.photo_container(thumbnail=thumbnail, original=original) }}
      {% endfor %}
    </div>

  </body>
</html>
